﻿@page "/detail"
@page "/detail/{id:int}"
@inject IPesananService PesananService

@if(id == null)
{
    <h3>Buat Pesanan Baru</h3>

}
else
{
    <h3>Edit  </h3>
}


@code {
    [Parameter]
    public string? id { get; set; }

    string btnText = string.Empty;

    Pesanan pesan = new Pesanan { };

    protected override async Task OnInitializedAsync()
    {
        btnText = id == null ? "Save Pesanan" : "Update Pesanan";

    }

    protected override async Task OnParametersSetAsync()
    {
        if (id == null)
        {

        }
        else
        {
            pesan = await PesananService.GetPesananId((string)id);
        }
    }

    void HandleSubmit()
    {

    }
}
