﻿@page "/pesanan"
@inject IPesananService PesananService
@inject NavigationManager NavigationManager

<PageTitle>Pesanan</PageTitle>

<h3>Pesanan</h3>

<table class="table">
    <thead>
        <tr>
            <th>Pesanan ID</th>
            <th>Atas Nama</th>
            <th>Total Pesanan</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pesanan in PesananService.pesanan)
        {
            <tr>
                <td>@pesanan.pesananID</td>
                <td>@pesanan.pesananName</td>
                <td>@pesanan.total</td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => ShowHero(pesanan.pesananID))">
                        <i>Text</i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    protected override async Task OnInitializedAsync()
    {
        await PesananService.GetPesanan();
    }

    void ShowHero(string id)
    {
        NavigationManager.NavigateTo($"hero/{id}");
    }
}
